<footer class="pt-4 my-md-5 pt-md-5 border-top">
	<div class="row">
		<div class="col-12 col-md">
			<img class="mb-2" src="/images/logo.svg" alt="" width="24" height="19" />
			<small class="d-block mb-3 text-body-secondary">&copy; 2025 — The Database</small>
		</div>
        <div class="col-6 col-md"></div>
		<div class="col-6 col-md">
			<h5>Empty Link Examples</h5>
			<ul class="list-unstyled text-small">
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="#">Empty Link</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="#">Another Empty Link</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="#">Empty Link</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="#">The Final Empty Link</a>
				</li>
			</ul>
		</div>
		<div class="col-6 col-md">
			<h5>Empty Links</h5>
			<ul class="list-unstyled text-small">
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="#">This One Is Empty</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="#">This One Too</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="#">Link Of Empty</a>
				</li>
				<li class="mb-1">
					<a class="link-secondary text-decoration-none" href="#">Link That Is Empty</a>
				</li>
			</ul>
		</div>
	</div>
</footer>