<main>
	<hr class="col-12 col-md-12 mb-5">
	<h1 class="text-body-emphasis">Get started with The Database</h1>
	<p class="fs-5 col-md-8">The blue button below will take you to the database access table. Just use your mouse and click it. There's really nothing more. I'm just talking to fill the space here. You can leave whenever you want.</p>

	<div class="mb-5">
		<a href="/database_access" class="btn btn-primary btn-lg px-4">The Database</a>
	</div>
</main>